.button-grey{
    width: max-content;
    padding: var(--gap-6);
    font-weight: var(--font-weight-2);
    font-size: var(--gap-5);
    background-color: var(--color-grey-4);
    border: 0.0625rem solid var(--color-grey-4); 
    color: var(--color-grey-2);
    border-radius: var(--radius-1);
    cursor: pointer;
}
.button-grey:hover{
    background-color: var(--color-grey-3);
    border: 0.0625rem solid var(--color-grey-3); 
    color: var(--color-grey-1);
}

.button-brand{
    padding: var(--gap-6);
    font-weight: var(--font-weight-2);
    font-size: var(--gap-3);
    background-color: var(--color-brand-1);
    border: 0.0625rem solid var(--color-brand-1); 
    color: var(--color-grey-6);
    border-radius: var(--radius-1);
    cursor: pointer;
}
.button-brand:hover{
    background-color: var(--color-grey-5);
    border: 0.0625rem solid var(--color-grey-5); 
    color: var(--color-grey-1);
}

